body
{
    background-color:grey;

}

body > h1
{
    background-color:aqua;

}

body >p
{
    background-color:powderblue;
    color:black;
}
div p
{
    background-color:orange;
    color:blue;

}
.nesteddiv p
{
    background-color:navy;
    color:pink;

}
#firstp
{
    background-color:teal;
    color:marron;
}
